*{
    margin: 0;
    padding: 0;
}
.loginscreen{
    height: 100vh;
    position: relative;
    background: url("https://assets.nflxext.com/ffe/siteui/vlv3/0f07b807-7be1-457d-be88-eb9153d5d4e9/8db04df8-caaf-4f19-8e51-9309664068b2/IN-en-20220815-popsignuptwoweeks-perspective_alpha_website_large.jpg") center no-repeat;
    background-size: cover;
}

.login-image {
    position: fixed;
    top: 0;
    width: 150px;
    object-fit: contain;
    padding-left: 2rem;
    left: 0;
}

.loginscreen-gradient {
    width: 100%;
    z-index: 1;
    height: 100vh;
    background: rgba(00, 00, 00, .4);
    background-image: linear-gradient(to top, 
    rgba(0,0,0, .6) 0, rgba(0,0,0, 0) 50%, rgba(0,0,0, .6) 100%);

}
.loginscreen-body {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
     display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    text-align: center;

    color: #ffffff;
}
.login-title {
    font-size: 2.4rem;
    text-align: center;
    font-weight: 600;
    letter-spacing: 1px;
    padding: 1rem 0rem;
   
}
.login-title-2 {
    font-size: 1.4rem;
    text-align: center;
    font-weight: 400;
    letter-spacing: 1px;
    padding: 1rem 0rem;
   
}

.login-button {
    padding: 0.6rem 2rem;
    font-size: 1.2rem;
    font-weight: 500;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    z-index: 1;
    background-color: #e50914;
    transition: all 0.2s;
    position: fixed;
    right: 2rem;
    top: 20px;
    color: #ffffff;
    /* background: rgba(255, 0, 0, 0.9), transparent; */
}

.loginscreen-button {
    padding: 1rem 1.6rem;
    font-size: 1rem;
    /* font-weight: 500; */
    border-radius: 4px;
   border: none;
    cursor: pointer;
    background-color: #e50914;
    
   
    color: #ffffff;
}

.loginscreen-inpute {
    display: flex;
    flex-direction: column;
}

.login-form {
    display: flex;
    flex-direction: column;
    padding: 2rem 0rem;
    position: relative;
}

.login-input{
    padding: 1rem .8rem;
    /* height: 4rem; */
    padding-right: 8rem;
    border-radius: 4px;
    border: none;
    outline: 0;
    margin-left: -2rem ;
    font-size: 1rem;
}

.input-placement {
    padding: 1rem 0rem;
}